<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>HC Group Leaders - Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container" style="padding-top:20px">
    <div>
        <img class="center-block" src="/images/hc-groups-logo.png" style="max-height: 230px; max-width: 230px;" />
    </div>
    <div class="col-sm-6 col-sm-offset-3" style="padding-top:10px">
        <h1 style="text-align: center"><span class="fa fa-sign-in"></span> Login</h1>
        <br />
        <form action="/login" method="post">
            <div class="form-group">
                <label>Username</label>
                <% if (usernameError !== null) { %>
                    <input class="form-control has-error has-feedback" type="text" name="username" value="<%= username%>" style="font-weight: normal; border: 2px solid red">
                    <span class="help-block" style="color: red"><i class="fa fa-exclamation-circle" style="color: red"></i>&nbsp;&nbsp;<%= usernameError%></span><%
                } else { %>
                    <input type="text" class="form-control" name="username" value="<%= username%>">
                <% } %>
            </div>
            <div class="form-group">
                <label>Password</label>
                <% if (passwordError !== null) { %>
                    <input type="password" class="form-control has-error has-feedback" name="password" style="font-weight: normal; border: 2px solid red">
                    <span class="help-block" style="color: red"><i class="fa fa-exclamation-circle" style="color: red"></i>&nbsp;&nbsp;<%= passwordError%></span><%
                } else { %>
                    <input type="password" class="form-control" name="password">
                <% } %>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </form>
        <hr>
        <p>Don't have an account? <a href="/register">Register</a></p>
    </div>
</div>
</body>
</html>
