<!doctype html>
<html>
<head>
    <title>HC Group Leaders</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container" style="padding-top:20px">
    <h1 style="text-align: center">Logout Successful!</h1>
    <div style="padding-top:60px">
        <div class="form-row text-center">
            <div style="text-align: center; font-size: 16px">
                You have been logged out of HC Group Check-In successfully!
            </div>
            <br />
            <div style="text-align: center; font-size: 16px">
                Please click <span><a href="login">here</a></span> to return to the Login page.
            </div>
        </div>
    </div>
</div>
</body>
</html>