<!doctype html>
<html>
<head>
    <title>HC Group Leaders</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container" style="padding-top:20px">
    <h1 style="text-align: center">Successfully Checked-In Group!</h1>
    <div style="padding-top:60px">
        <div class="form-row text-center">
            <div style="text-align: center; font-size: 16px">
                Now, have a blessed night studying God's word with each other!
            </div>
        </div>
    </div>
</div>
</body>
</html>